<h1>Plinko</h1>
<div class="flex">
    <div #canavs></div>
    <div class="flex flex-column flex-1 pl-2">
        <div>Player's balance: {{playerScoreBalance}}</div>
        <div>
            <button (click)="startGame()" [disabled]="playerScoreBalance - playCost < 0">Play</button>
            <button (click)="changeLayout(0)">Grid layout</button>
            <button (click)="changeLayout(1)">Pyramid layout</button>
        </div>
        <div>
            True Random outcome?
            <input type="checkbox" [checked]="chooseBallFallDirectionAtRandom" (click)="changeRandomness()">
        </div>
        <div>
            Use physics engine (MatterJS)?
            <input type="checkbox" [checked]="useMatterPhysicsEngine" (click)="changePhysicsCalculations()">
        </div>
        <ng-container *ngIf="chooseBallFallDirectionAtRandom; else predetermined">
            <div>
                The expected winner is going to be random
            </div>
        </ng-container>
        <ng-template #predetermined>
            <div>
                The expected winner is: {{expectedWinningPointContainer?.value}}
            </div>
        </ng-template>
    </div>
</div>